
td.apachesolr-status {
  text-align: center;
}

div.apachesolr-edit-menu {
  position: absolute;
  background-color: white;
  color: black;
  z-index: 999;
  border: 1px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

div.apachesolr-edit-menu ul {
  margin: 0 0.5em;
  padding: 0;
}

div.apachesolr-edit-menu ul li {
  padding: 0;
  list-style-type: none;
  display: block;
}

div.apachesolr-edit-menu.collapsed {
  display: none;
}

input.apachesolr-cron-limit {
  text-align: right;
}

.apachesolr-alter-add-fulltext-fields {
  max-height: 12em;
  overflow: auto;
}

/* Workaround for http://drupal.org/node/1015798 */
.vertical-tabs fieldset div.fieldset-wrapper fieldset legend {
  display: block;
  margin-bottom: 2em;
}

